<header><ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button 
    mode="ios"
    defaultHref="/"
    ></ion-back-button>
  </ion-buttons>
</ion-toolbar>
</header>
<ion-content>
  <br>
  <br>
  <h2 class="gandhi"> Introduce el codigo </h2>
  <br><br><br><br>
  <div class = "cont1"> 
  <ion-item class="input1">
  <ion-input placeholder="Tu codigo"></ion-input>
  </ion-item>
  <br>
  <br>
    <ion-button routerLink="/folder/Asistencia" class="boton" color="primary">Verificar</ion-button>
  </div>
</ion-content>
