.gandhi{
    font-family: var(--font-gandhi);
    color: rgb(87, 85, 85);
    }
    
    .gotham{
        font-family: var(--font-gotham);
        color: rgb(110, 110, 110);
    }
    h2{
        text-align: center;
       }
       .cont1{
        text-align: center;
    }
    
    .input1{
        width: 300px;
        
    }
    