<ion-header>
  <ion-toolbar color="primary"></ion-toolbar>
</ion-header>
<ion-content>
  <br>
  <h2 class="gandhi"> Verifica tu numero </h2>
  <br><br>
  <h4 class="gotham">Coneculta te enviara un SMS para verificar tu numero de telefono para poder acceder
    a la aplicacion. Introduce tu numero de telefono</h4>
  <br>
     <form (ngSubmit)="login( v )"
     #v="ngForm" >
      <div class = "col ion-text-center"> 
        <span *ngIf="v.submitted && v.controls['telefono'].errors" 
        class="text-danger">El telefono es obligatorio</span>
      <ion-item >
      <ion-input  type="text" [(ngModel)]="empleado.telefono" minlength="10"  name="telefono" required placeholder="Telefono"></ion-input>
      </ion-item>
      <br>
      <br>
        <ion-button type="submit" color="primary">Enviar</ion-button>
      </div>
    </form>
     
  <br>
  
  
  
</ion-content>