<ion-header>
  <ion-toolbar color="primary"></ion-toolbar>
</ion-header>
<ion-content>
  <br>
  <h2 class="gothic"> Verifica tu numero </h2>

  <h4 class="gothic">Coneculta te enviara un SMS para verificar tu numero de telefono para poder acceder
    a la aplicacion. Introduce tu numero de telefono</h4>

  <form (ngSubmit)="login()">
    <div class="col ion-text-center">

      <ion-list>  

        <div class="px">
        <ion-item>
          <ion-input class="phone" type="text" [formControl]="phone" placeholder="Telefono">
          </ion-input>
        </ion-item>
      </div>
      
      <div class="px">
        <ion-item>
          <ion-input class="password" type="password" [formControl]="password" placeholder="constraseña">
          </ion-input>
        </ion-item>
      </div>

      </ion-list>

      <span *ngIf="password.errors" style="display: none" class="text-danger">La contraseña es obligatorio</span>
      <br>
      <span *ngIf="phone.errors" style="display: none"  class="text-danger">El telefono es obligatorio</span>
      
    
      <br>

      <div class="botonLogin">
        <ion-button expand="full" type="submit" color="primary" [disabled]="phone.invalid || password.invalid">Enviar</ion-button>
      </div>
      
    </div>
  </form>

  <br>
  

  </ion-content>