<ion-header>
  <ion-toolbar color="primary"></ion-toolbar>
    <div class="row">
      <div class="col1 pl-12 pt-3"><ion-img style="width: 80%; height: 80%;" src="/assets/icon/relojDePared.svg"></ion-img></div>
      <div class="col2 pb-10 pt-5">
        <div class="fontzise-25 white mb-2">Viernes</div>
        <div class="fontzise-25 white mb-2">11:32</div>
        <div class="fontzise-15 gray mb-2">02/11/2021</div>
      </div>
</div>
</ion-header>

<ion-content>
    
    <ion-grid>
    
        <ion-row> 
            <ion-col class="border-gray">
              <div class="row">
                <div class="col-80">
                    <div><ion-label>entrada</ion-label></div>
                    <div><ion-label>8:15am</ion-label></div>
                </div>
                <div class="col-20">
                  <div><ion-label>entrada</ion-label></div>
                </div>
              </div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="border-gray">
              <div class="row">
                <div class="col-80">
                    <div><ion-label>entrada</ion-label></div>
                    <div><ion-label>8:15am</ion-label></div>
                </div>
                <div class="col-20">
                  <div><ion-label>entrada</ion-label></div>
                </div>
              </div>
            </ion-col>
        </ion-row>

    </ion-grid>
   
</ion-content>
